[flake8]
; ignore = E501, W503
; extend-ignore = E402
exclude = src/alembic/*
; per-file-ignores =
;     tests/test_file.py = E501, W503
;     docs/docs_file.py = E402
; max-line-length = 120
; max-complexity = 10
; select = E, W, F
; extend-select = E402
